.column {
    width: 40px;
    height: 40px;
}

.container {
    width: 100%;
    display: flex;
}

img {
    border: 5px solid #555;
}

#products-title {
    text-align: center;
}

#cart-title {
    text-align: center;
}