.column {
    flex: 50%;
    padding: 0 4px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.c-img {
    border: 3px solid #000;
    width:250px;
    height:250px;
    padding-bottom: 30px;
}


#logo {
    text-align: left;
    width: 250px;
    height: 250px;
}

#products-title {
    text-align: center;
}

#cart-title {
    text-align: center;
}

#title {
    text-align: center;
}