body {
    background-color: #2F4A60;
}

#about-title {
    color:white;
    font-size: 40px;
    position: absolute;
    font-family: Josefin Sans;
    position:fixed;
    right: 5px;
    top: 150px;
    float:right;
    text-shadow: 6px 6px #7DA1BF;
}

#about-box {
    margin: auto;
    height: 500px;
    width: 700px;
    background-color: #2F4A60;
    border-radius: 25px;
    float:center;
}

#about-box p {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-family: Josefin Sans;
    color:white;
}


#about-box strong {
    text-shadow: 2px 2px #7DA1BF;
    color: white;
}

#title {
    font-family: Copperplate;
    color: white;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px #7DA1BF;
    padding-bottom: 50px;
}