body {
    background-color: #2F4A60;
}

#contact-title {
    color:white;
    font-size: 40px;
    position: absolute;
    font-family: Josefin Sans;
    position:fixed;
    right: 5px;
    top: 600px;
    float:right;
    text-shadow: 6px 6px #7DA1BF;
}

#contact-box {
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    right: 2px;
    top: 100px;
    position:fixed;
    float:right;
}

#title {
    font-family: Copperplate;
    color: white;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px #7DA1BF;
    padding-bottom: 50px;
}

.flip-card-front img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.grid-item {
    background-color: white;
    border-radius: 25px;
    height: 250px;
    width: 250px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.grid-item:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 25px;

  }
  
  .flip-card-back {
    border-radius: 25px;
    transform: rotateY(180deg);
  }

  .flip-card-back p {
    text-align: center;
    padding-top: 85px;
    font-size: 30px;
    font-family: Josefin Sans;
    color:#2F4A60;
    text-shadow:#7DA1BF;
    text-decoration: underline; 
    }