body {
    background-color: #2F4A60;
}

#title {
    font-family: Copperplate;
    color: white;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px #7DA1BF;
    margin-bottom: 100px;
    
}

.dotted {
  border-bottom: 5px dotted white;
}

#experience-title {
  color:white;
  font-size: 40px;
  position: absolute;
  font-family: Josefin Sans;
  position:fixed;
  right: 50px;
  top: 600px;
  float:right;
  text-shadow: 6px 6px #7DA1BF;
}

#role-title {
    font-size: 30px;
    font-family: Josefin Sans;
    color: white;
    text-shadow:2px 2px #7DA1BF;
    margin-left: 100px;
}

#role-1, #role-2 {
    font-size: 25px;
    font-family: Josefin Sans;
    color: white;
    font-style: italic;
    margin-left: 150px;
}

* {box-sizing: border-box}
.slide-1, .slide-2 {display: none}
img {
    display: block; 
    margin: auto; 
    max-width: 100%; 
    border-radius: 25px;
} 

.slideshow-container {
    max-width: 1300px;
    position: relative; 
    margin: auto;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover {
    background-color: #f1f1f1;
    color: black;
  }

  .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

  footer {
    padding-bottom: 200px;
  }