body {
    background-color: #2F4A60;
}

#title {
    font-family: Copperplate;
    color: white;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    text-shadow: 2px 2px #7DA1BF;
}

#menu {
    display: grid;
    grid-template-areas:
        'menu menu menu main main right right'
        'menu menu menu footer footer footer footer';
    gap: 10px;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 100px;
}


#big-rectangle {
    grid-area:menu;
    height: 400px;
    border-radius: 25px;
    padding: 20px;
    background-color: #B0D2DA;
    margin-right: 10px;
    overflow: hidden;
}

#big-rectangle span {
    font-size: 100px;
    position: absolute;
    white-space: nowrap; 
    /* text-overflow: ellipsis; */
    transform: translateX(0);
    transition: 20s;
    overflow: hidden;

}

#big-rectangle:hover span {
    transform: translateX(calc(200px - 100%));
    overflow: hidden;
  }

#small-rectangle-1 {
    grid-area:main;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-right: 10px;
}

#small-rectangle-2 {
    grid-area:right;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-right: 10px;
}

#long-rectangle {
    grid-area:footer;
    border-radius: 25px;
    padding: 20px;
    background-color: #7DA1BF;
}